
*{
    box-sizing: border-box;
    margin: 0%;
    height: 220px;
    padding: 0%;
}
#buttons{
    display: flex;
    width: 100%;
}
.texto{
    font-size: 80px;
    text-align: center;
}
.container{
    max-width: 700px;
    border-right: 100px;
    margin: 0 auto;
}

#buttons > button > img{
    width: 100%;
}

